@media screen and (max-width:950px) {
    .invoice-short{
        width: 80vw !important;
        margin:15px 0 !important;
    }
}

.invoice-shortCard{
    display: inline-block;
}

.invoice-short {
    height: 60px;
    width: 24vw;
    border: 1px solid rgba(36, 148, 148, 0.54);
    background: rgb(24,138,133);
background: linear-gradient(180deg, rgba(24,138,133,1) 0%, rgb(129, 202, 202) 10%, rgba(24,135,136,1) 100%);
    border-radius: 10px;
    margin: 30px 19px;
    /* border-radius: 10px; */
    align-content: center;
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 2px 2px 6px gray;

} 


.invoice-short-text {
    display: block;
    margin-left: 20px !important;
    margin: 0;
    font-weight: 600;
    color: white;
    line-height: 50px;
    font-size: 22px;
    /* border: 2px solid black; */
    align-self: center;
    width: 7vw;
    overflow: hidden;
    height: 56px;
    text-align: center;
}

.invoice-short-amount {
    /* border: 2px solid black;  */
    display: block;
    margin-right: 20px !important;
    font-weight: 600;
    color: white;
    line-height: 25px;
    font-size: 18px;
    align-self: center;
    margin: 0;
    width: auto;
}