.Fabform_main{
    /* background-color: rgba(235, 207, 235, 0.367); */
  margin: 50px auto;
  /* border: 2px solid black; */
  height: auto;
  width: 40vw;
  /* color: white; */
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px rgba(170, 171, 187, 0.37);
  border-radius: 10px;
}

.pim{
  height: 100px;
}


.search{
  padding: 20px;
  margin: 20px 0px 0 500px;
  width: 30vw;
  height: 50px;
}
.center{
  text-align: center;
  
}
.fab_label{
  margin: 20px;
width: 9vw;
}

.fab_input{
  margin: 4px;
  width: 25vw;
  padding: 10px;
}

.fab_btn{
  color: white;
  /* background-color:rgba(36, 148, 148); */
  border-radius: 15px 10px;
  background-color: black;
  border: 2px solid rgb(7, 10, 10);
  width: 100px;
  padding: 7px 30px;
  /* margin: auto; */
  margin: 15px 10px 15px 250px;
}

.fab_btn:hover{
  transform: scale(1.1);
}

.select{
  width: 25vw;
  height: 50px;
  margin: 5px;
  padding: 5px;
}