.MainBody {
    width: 80vw;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin: auto;
}

.TMain{
    border: 2px solid rgb(116, 115, 115);
    height: 40px;
    width: auto;
    padding: 3px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.SearchO{
    border: none;
  
}
.Orderimg {
    height: 60px;

}

.Otext {
    font-family: Kaisei Decol;
    color: grey;
    font-size: 25px;
    /* margin: auto; */
    /* margin: 20px; */
}.Invoice-input{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}