@media screen and (max-width:950px) {

    .fab_btn {
      width: 30vw !important;
      margin-top: 150px !important;
    }
  }
  
  
  
  .Fabform_main {
    /* background-color: rgba(235, 207, 235, 0.367); */
    margin: 50px auto;
    /* border: 2px solid black; */
    height: auto;
    width: 40vw;
    /* color: white; */
    background: rgb(24, 138, 133);
    background: linear-gradient(180deg, rgba(24, 138, 133, 1) 0%, rgba(144, 203, 203, 1) 10%, rgba(24, 135, 136, 1) 100%);    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(170, 171, 187, 0.37);
    border-radius: 10px;
  }
  
  .pim {
    height: 100px;
  }
  
  
  .search {
    padding: 20px;
    margin: 20px 0px 0 500px;
    width: 30vw;
    height: 50px;
  }
  
  .center {
    text-align: center;
  
  }
  
  .fab_label {
    margin: 20px;
    color: black;
    width: 6vw;
  }
  
  .fab_input {
    margin: 4px;
    width: 25vw;
    padding: 9px;
  }
  
  .Fab_btn {
    color: white;
    display: flex;
    flex-wrap: wrap;
    /* background-color:rgba(36, 148, 148); */
    border-radius: 15px 10px;
    background: rgb(5,5,5);
    background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgb(86, 89, 89) 10%, rgba(5,5,5,1) 100%);
    width: 100px;
    padding: 7px 30px;
    margin: auto;
    margin-top: 10px;
    /* margin: 15px 10px 15px 250px; */
  }
  
  .fab_btn:hover {
    transform: scale(1.1);
  }
  
  .select {
    width: 25vw;
    height: 50px;
    margin: 5px;
    /* padding: 5px; */
  }
  .name{
    text-transform: capitalize;
  }