/* @media screen and(max-width:800px){
    .Npage {
        border: 1px solid black;
        width: 5vw;
        margin: auto;
        overflow-x: hidden;
    }

} */


.Npage {
    border: 1px solid rgb(152, 150, 150);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 60vw;
    margin: auto;
    /* margin-top: 120px; */

}

.Next {
    font-family: Kaisei Decol;
    text-align: center;
    padding: 1px;
    background-color: rgba(36, 148, 148, 0.54);

}
.NextOrder{
    display: flex;
    justify-content: space-around;
}
.Nprice{
    /* border: 1px solid grey; */
    /* background-color: rgba(89, 151, 181, 0.735); */
    padding: 9px;
    font-family: Kaisei Decol;
    border-radius: 20px;
    

}
.fabric {
    border: 1px solid grey;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin: 3px;
    /* background-color: rgba(97, 154, 182, 0.735); */
    background: url(https://tse4.mm.bing.net/th?id=OIP.sW1-ufY8f-bojA24rOdybAHaHd&pid=Api&P=0&h=180);
}
.Nspan{
    margin-left: 30px;
    /* font-family: Kaisei Decol; */

}
.Nsize{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    

}

.NLastpage{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px; */
    justify-content: space-evenly;
}
.LastN{
    background-color: rgb(47, 46, 46);
    height: 80px;
    width: 180px;
    text-align: center;
    align-items: center;
    margin: 10px;
}
.LastText{
    color: white;
    /* padding: 20px; */
    font-family: Kaisei Decol;
}
