.OName {
  /* border: 2px solid rgb(152, 150, 150); */
  background-color: rgba(36, 148, 148, 0.54);
  border-radius: 20px;
  margin: 25px;
  height: 60px;
  width: 22vw;
  padding: 1px;
  position: relative;

}

.Order_short {
  display: inline-block;

}

.Category {
  background-color: orange;
  position: absolute;
  /* top: -11px; */
  padding: 6px;
  border-radius: 18px 0 10px 0;
  width: 80px;
  color: black;
  text-align: center;

}

.OrderN {
  font-family: Kaisei Decol;
  color: black;
  font-size: 22px;

  margin: 5px 85px;
  /* text-align: center; */
  /* align-items: center; */
}

.Date {
  text-align: end;
  color: black;
  margin-right: 10px;
}

.link {
  text-decoration: none;

}