.searchCard{
    height: auto;
}

.sdate{
    padding: 5px;
    /* border: 1px solid; */
    margin: 15px 0 !important;
}

@media screen and (max-width:900px) {
    .cust_info{
        display: block;
        /* margin-left: 10px !important; */
        margin-left: 5px !important;
        margin: 0;
        font-weight: 600;
        color: white;
        line-height: 90px;
        font-size: 22px;
        /* border: 2px solid black; */
        /* align-self: center; */
        /* width: 50vw !important; */
        width: 45vw !important;
        overflow: hidden;
        height: auto !important;
        padding: 5px;
        /* text-align: center; */
    }
}


.cust_info{
    display: block;
    margin-left: 20px !important;
    margin: 0;
    font-weight: 600;
    color: white;
    line-height: 50px;
    font-size: 22px;
    /* border: 2px solid black; */
    /* align-self: center; */
    width: 13vw;
    overflow: hidden;
    height: 80px;
    /* text-align: center; */
}


.cust_date{
    /* border: 1px solid; */
    width: 90%;
    position: absolute;
    /* top: -0px; */
   text-align: right;
}
.cust_price {
        /* border: 2px solid black;  */
        display: block;
        /* margin-right: 20px !important; */
        font-weight: 600;
        color: white;
        line-height: 25px;
        font-size: 18px;
        align-self: center;
        margin:5px;
        width: auto;
    
}

@media screen and (max-width:400px) {
    .cust_info{
        display: block;
        margin-left: 0px !important;
        margin: 0;
        font-weight: 600;
        color: white;
        line-height: 50px;
        padding-left: 4px;
        font-size: 22px;
        /* border: 2px solid black; */
        /* align-self: center; */
        width: 40vw !important;
        overflow: hidden;
        height: auto;
        /* text-align: center; */
    }
}