/* .cards{
    height: 144px;
    width: 172px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(36, 148, 148, 0.54);
    margin: 20px 10px;
    box-shadow: 2px 2px 6px 1px gray;
    font-family: serif;
    display: flex;
    flex-wrap: wrap;
} */

/* @media screen and (max-width:800px) {

   
    .Homeimg {
        width: 25vh !important;
        height: auto;
    }
} */

.MainHome {
    /* border: 2px solid black; */
    /* width: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 130px;
}

.HCard {
    /* border: 1px solid rgb(142, 138, 138);
    background-color: rgba(36, 148, 148, 0.54); */

    background: rgb(24, 138, 133);
    background: linear-gradient(180deg, rgba(24, 138, 133, 1) 0%, rgba(144, 203, 203, 1) 10%, rgba(24, 135, 136, 1) 100%);
    text-align: center;
    height: auto;
    width: 60vh;
    margin: 20px 15px;
    padding: 10px 0px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px rgba(51, 50, 50, 0.3);
    /* width: auto; */
}

.Homeimg {
    width: 25vh;
    height: auto;
}

.HText {
    /* font-size: 20px; */
    font-weight: 800;
    font-family: Kaisei Decol;
}


.HCard h5 {
    color: black;
} 

.HCard h5:hover { 
    color: blue;
    text-decoration: underline;
}