@media screen and (max-width :678px) {
    .Main_Card {
        /* display: inline-block; */
        flex-wrap: wrap;
        position: relative;
        left: 80px;


    }

    .Glist {
        display: flex;
        flex-wrap: wrap;
       /* justify-content: space-evenly; */
       position: relative;
       left: 20px;
       /* background-color: blue; */
        align-content: center !important;
    }
}

/* new */

.Profile-back-img {
    height: 50px;
}

.Main_Card {
    display: inline-block;
    flex-wrap: wrap;
    /* width: 80vw; */
    /* border: 2px solid black; */
    text-align: center;
    /* justify-content: space-evenly; */
    margin: auto;

}

.GallaryHedding {
    background-color: rgba(36, 148, 148, 1);
    /* margin-top: 130px; */
    border-radius: 10px;
    color: white;
    padding: 5px 0px;
    height: auto;
    width: 130px;
    text-align: center;
    margin: auto;
}

.Glist-p {
    /* border: 2px solid red; */
    display: block;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 28px;
    font-family: Kaisei Decol;
    font-weight: 500;
}

.Glist-p:hover {
    cursor: pointer;
    border-bottom: 3px solid rgba(36, 148, 148, 1);
    ;
}

.Glist {
    border-bottom: 2px solid rgba(36, 148, 148, 1);
    /* border-top: 2px solid rgba(36, 148, 148, 1); */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    align-items: center;
}

.gallery-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    /* border: 2px solid red; */
    margin: auto;
    align-content: center;
}