
/* new */
.Description{
    color: orange;
}

.Gallery-img{
    height: 330px;
    width: 300px;
    margin-right: 5%;
    box-shadow: 2px 2px 3px 1px gray;
    border-radius: 10px;
}


.Gallery-flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5%;
    width: 80vw;
    margin:20px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 11px 2px grey;
    /* border: 1px solid red; */
}
@media only screen and (max-width:600px){
    .Gallery-flex{
        flex-wrap: wrap;

    }
}

.Gleft-size{
    text-align: left;
    font-size: 20pt;
}


.Heding-{
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 30pt;
    margin-top: 5%;
}
@media only screen and (max-width:600px){
    .Heding-{
        margin-top: 10%;
    }
}
