.MainBody {
    width: 80vw;
    margin: auto;
}

.MainOrder {
    /* height: 40px; */
    border: 2px solid rgb(152, 150, 150);
    border-radius: 50px;
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.Orderimg {
    height: 60px;

}

.Otext {
    font-family: Kaisei Decol;
    color: grey;
    font-size: 20px;
    /* margin: auto; */
    margin-left: 20px;
}