
@media only screen and (max-width:600px){
   
    .CardBody{

        /* width: 80vw; */
        /* min-height: 20px; */
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
}
.MainBody {
    width: 80vw;
    margin: auto;
}

.MainOrder {
    /* height: 40px; */
    border: 2px solid rgb(152, 150, 150);

    border-radius: 50px;
    margin: 10px 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.Backmain{
    margin-top: 100px;
    margin-left: 20px
}
.Backimg{
    height: 30px;
}


.Orderimg {
    height: 50px;

}

.Otext {
    font-family: Kaisei Decol;
    color: grey;
    font-size: 25px;
    /* margin: auto; */
    margin: 10px;
}
.HR{
    border: 2px solid;
    color: rgba(21, 91, 91, 0.97);

}
.CardBody{
    /* border: 2px solid black; */
    width: 75vw;
    padding: 0 0 0 45px;
    height: auto;
}