.heding-assign{
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 35pt;
    margin-top: -5%;

}
@media only screen and (max-width:600px){
    .heding-assign{
        margin-top: -10%;
        margin-bottom: 5%;
    }
}
.assign-patti{
    height: 6vh;
    width: 80vw;
    background-color: rgba(36, 148, 148, 0.54);
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    margin-left: 10%;
}
@media only screen and (max-width:600px){
    .assign-patti{
        flex-wrap: wrap;
        height: 7%;
        width: 90vw;
        font-size: 14pt;
        margin: 0% 0 0 0;
    }
}
.assign-main{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:600px){
    .assign-main{
        flex-wrap: wrap;
    }
}
.assign-informetion{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-left: 10%;
    width: 80vw;
}
@media only screen and (max-width:600px){
    .assign-informetion{
        margin-left: 0%;
    }
}
.assign-left{
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .assign-left{
        display: flex;
        font-size: 14pt;
        width: 90%;
        margin: 10% 5% 0 5%;
    }
}
.assign-line{
    height: 280px;
    width: 2px;
    background-color:  rgba(36, 148, 148, 0.54);
    /* margin-top: 10%; */
    margin-left: 10px;
}
@media only screen and (max-width:600px){
    .assign-line{
        height: 0px;
        width: 0cqi;
        background-color:  rgba(36, 148, 148, 0.54);
    }
}
@media only screen and (max-width:600px){
    .assign-informetion{
        flex-wrap: wrap;
        width: 100%;
    }
}
.aa{
    /* margin: 5px; */
    font-size: 18pt;
}
.pp{
    margin: 5px;
    margin-top: 10px;
    font-size: 18pt;
    text-align: center;
    transition: 1s;
}
.pp:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    transform: scale(1.1);
}
@media only screen and (max-width:600px){
    .ppp{
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        
        margin-top: -52%;
        margin-bottom: 30%;
        width: 100vw;
        margin-left: -10%;
    }
}
@media only screen and (max-width:600px){
    .aa{
        margin: 0 10px;
        font-size: 12pt;
    }
}
.back-btn{
    height: 3%;
    width: 3%;
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .back-btn{
        margin-top: 30%;
        height: 5%;
        width: 5%;
    }
}

.order_list{
    list-style: none;
    position: fixed;
  left: 15px;  
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.update{
    height: 40px;
    width: auto;
    padding: 0 20px;
    text-align: center;
    margin: 5px 0;
    background: rgb(5,5,5);
background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgb(96, 98, 98) 10%, rgba(5,5,5,1) 100%);
color: white;
border-radius: 10px;
}

.pending{
    color: red;
}
.working{
    color: yellow;
}
.complete{
color: green;
}