.heding-assign{
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 35pt;
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .heding-assign{
        margin-top: 30%;
    }
}
.assign-patti{
    height: 6vh;
    width: 75vw;
    background-color: rgba(36, 148, 148, 0.54);
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}
@media only screen and (max-width:600px){
    .assign-patti{
        flex-wrap: wrap;
        height: 25%;
        width: 90vw;
        font-size: 14pt;
        margin: -5% 0 0 0;
    }
}
.assign-main{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:600px){
    .assign-main{
        flex-wrap: wrap;
    }
}
.assign-informetion{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.assign-left{
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .assign-left{
        display: flex;
        font-size: 14pt;
    }
}
.assign-line{
    height: 250px;
    width: 2px;
    background-color:  rgba(36, 148, 148, 0.54);
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .assign-line{
        height: 2px;
        width: 80%;
        background-color:  rgba(36, 148, 148, 0.54);
    }
}
@media only screen and (max-width:600px){
    .assign-informetion{
        flex-wrap: wrap;
    }
}
.aa{
    font-size: 18pt;
}
@media only screen and (max-width:600px){
    .aa{
        margin: 0 10px;
        font-size: 12pt;
    }
}