.heding-assign{
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 35pt;
    margin-top: -5%;

}
@media only screen and (max-width:600px){
    .heding-assign{
        margin-top: -5%;
        margin-bottom: 5%;
        font-size: 0pt;
    }
}
.assign-patti{
    height: vh;
    width: 90vw;
    background-color: rgba(36, 148, 148, 0.54);
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    margin-left: 10vw;
    margin-bottom: 1%;
}
@media only screen and (max-width:600px){
    .assign-patti{
        flex-wrap: wrap;
        height: 7%;
        width: 90vw;
        font-size: 14pt;
        margin: 0% 0 0 6%;
    }
}
.assign-main{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:600px){
    .assign-main{
        flex-wrap: wrap;
    }
}
.assign-informetion{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-left: 10vw;
    width: 90vw;
}
@media only screen and (max-width:600px){
    .assign-informetion{
        margin-left: 0%;
        margin-top: 2%;
    }
}
.assign-left{
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .assign-left{
        display: flex;
        font-size: 14pt;
        width: 90%;
        margin: 10% 5% 0 5%;
    }
}
.assign-line{
    /* height: 280px; */
    width: 2px;
    background-color:  rgba(36, 148, 148, 0.54);
    /* margin-top: 10%; */
    margin-left: 10px;
}
@media only screen and (max-width:600px){
    .assign-line{
        height: 0px;
        width: 0cqi;
        background-color:  rgba(36, 148, 148, 0.54);
    }
}
@media only screen and (max-width:600px){
    .assign-informetion{
        flex-wrap: wrap;
        width: 100%;
    }
}
.aa{
    /* margin: 5px; */
    font-size: 24pt;
    width:10vw;
}
.aap{
    font-size: 18pt;
}
.pp{
    margin: 5px;
    margin-top: 10px;
    font-size: 16pt;
    text-align: center;
    transition: 1s;
}
.pp:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(68, 101, 113);
    border-radius: 10px;
    transform: scale(1.1);
}
@media only screen and (max-width:600px){
    .ppp{
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        
        margin-top: -52%;
        margin-bottom: 30%;
        width: 100vw;
        margin-left: -10%;
    }
    .pp{
        font-size: 12pt;
    }
}
@media only screen and (max-width:600px){
    .aa{
        margin: 0 10px;
        font-size: 12pt;
    }
    .aap{
        font-size: 12pt;
    }
}
.back-btn{
    height: 3%;
    width: 3%;
    margin-top: 10%;
}
@media only screen and (max-width:600px){
    .back-btn{
        margin-top: 30%;
        height: 5%;
        width: 5%;
    }
}

.order_list{
    list-style: none;
    position: fixed;
  left: 15px;  
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:600px){
    .ppp{
        display: flex;
        margin-top: -32%;
        
    }
}
.update{
    height: 40px;
    width: auto;
    padding: 0 20px;
    text-align: center;
    margin: 5px 0;
    background: rgb(5,5,5);
background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgb(96, 98, 98) 10%, rgba(5,5,5,1) 100%);
color: white;
border-radius: 10px;
}

.pending{
    margin: 5px 5px 5px 15vh;
    height: 6vh;
    width: 8vw;
    align-self: center;
    text-align: center;
    border: none;
    color: white;
    box-shadow: 1px 1px 2px 1px rgb(95, 94, 94);
    border-radius: 7px;
    font-size: 16pt;
    /* padding-top: 0.3%; */
    background: rgb(247, 4, 4);
background: linear-gradient(180deg, rgb(247, 4, 4) 0%, rgb(249, 7, 7) 100%);
}
@media only screen and (max-width:600px){
    .pending{
        height: 3vh;
        width: 14vw;
        font-size: 10pt;
        /* margin: ; */
    }
}
.working{
    margin: 5px 5px 5px 15vh;
    height: 6vh;
    width: 8vw;
    align-self: center;
    text-align: center;
    border: none;
    color: white;
    box-shadow: 1px 1px 2px 1px rgb(95, 94, 94);
    border-radius: 7px;
    font-size: 16pt;
    background: rgb(235, 247, 4);
background: linear-gradient(180deg, rgb(247, 239, 4) 0% rgb(249, 217, 7) 100%);
}
@media only screen and (max-width:600px){
    .working{
        height: 3vh;
        width: 14vw;
        font-size: 10pt;
    }
}
.complete{
    margin: 5px 5px 5px 15vh;
    height: 6vh;
    width: 8vw;
    align-self: center;
    text-align: center;
    border: none;
    color: white;
    box-shadow: 1px 1px 2px 1px rgb(95, 94, 94);
    border-radius: 7px;
    font-size: 16pt;
    background: rgb(10,247,9);
    background: linear-gradient(180deg, rgba(10,247,9,1) 0%, rgba(9,249,4,1) 100%);
}
@media only screen and (max-width:600px){
    .complete{
        height: 3vh;
        width: 14vw;
        font-size: 10pt;
    }
}
.updatebutton{
    padding: 10px;
    background-color: grey;
    margin: 5px;
    
}
.stutas{
    height: 6vh;
     width: 8vw; 
    
    box-shadow: 1px 1px 2px 1px rgb(95, 94, 94);
    border-radius: 7px;
    background: rgb(247, 93, 4);
background: linear-gradient(180deg, rgb(247, 121, 4) 0%, rgb(236, 185, 143) 10%, rgb(249, 124, 7) 100%);
transition: 1s;
    font-size: 14pt;
    text-align: center;
    padding-top: 0.3%;
}
.stutas:hover{
    transform: scale(0.9);
}
@media only screen and (max-width:600px){
    .stutas{
        height: 3vh;
        width: 15vw;   
        font-size: 8pt;
    }
}
.stutas-tow{
    height: 6vh;
    width: 8vw;
    border: none;
    box-shadow: 1px 1px 2px 1px rgb(97, 97, 97);
    border-radius: 8px;
    background: rgb(10,247,9);
background: linear-gradient(180deg, rgba(10,247,9,1) 0%, rgba(189,247,189,1) 10%, rgba(9,249,4,1) 100%);
transition: 1s;
font-size: 14pt;

}
.stutas-tow:hover{
    transform: scale(0.9);
}
@media only screen and (max-width:600px){
    .stutas-tow{
        height: 3vh;
        width: 15vw;
        
        font-size: 8pt;
    }
}
.update-all{
    background: url("https://t3.ftcdn.net/jpg/02/85/23/86/360_F_285238615_EkyyCQMQZCMzgBZGcKzw1k4819kT6bBB.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.heding-update{
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 35pt;
    margin-top: 20vh;
    color: white;

}
@media only screen and (max-width:600px){
    .heding-update{
        
        margin-bottom: 5%;
    }
}
.status-drop{
    height: 6vh;
    width: 30vw;
    font-size: 16pt;
    border-radius: 8px;
    text-align: center;
    margin: 10vh 10vw 5vh 10vw;
}
@media only screen and (max-width:600px){
    .status-drop{
        height: 4vh;
        width: 60vw;
        margin: 5vh 10vw 2vh 5vw;
    }
}
.update-box{
    background-color: rgba(36, 148, 148, 1);
    height: 35vh;
    width: 50vw;
    margin: 0 25vw;
    border-radius: 10px;

}
@media only screen and (max-width:600px){
    .update-box{
        height: 25vh;
        width: 70vw;
        margin: 0 15vw;
    }
}
.update-btn{
    height: 6vh;
    width: 12vw;
    border: none;
    box-shadow: 1px 1px 2px 1px rgb(95, 94, 94);
    border-radius: 7px;
    background: rgb(8, 8, 8);
background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgb(77, 77, 76) 10%, rgb(6, 6, 6) 100%);
color: white;
font-size: 18pt;
margin: 0 0 0 10vw;
}
@media only screen and (max-width:600px){
    .update-btn{
        height: 4vh;
        width: 45vw;
        margin-left: 12vw;
    }
}
.update-btns{
    height: 6vh;
    width: 12vw;
    border: none;
    box-shadow: 1px 1px 2px 1px rgb(95, 94, 94);
    border-radius: 7px;
    background: rgb(8, 8, 8);
background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgb(77, 77, 76) 10%, rgb(6, 6, 6) 100%);
color: white;
font-size: 18pt;
margin: 0 0 0 6vw;
}
@media only screen and (max-width:600px){
    .update-btns{
        height: 4vh;
        width: 45vw;
        margin-left: 12vw;
        margin-top: 2vh;
    }
}