.Orderdiv{
    display: flex;
}

.tablediv{
    margin: 20px 40px;
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid black;
  
    text-align: center;
    padding: 8px;
  }
  
  
  .buy{
    font-weight: bold;
    color:black;
    text-decoration: none;
  }
  .buy:hover{
    color:green;
  }
  
  .smallcar{
    height: 50px;
    width: 50px;
  }
  .editdelte{
  height: 30px;
  width: 30px;
  
  }