.Orderdiv {
  display: flex;
}
@media only screen and (max-width:600px){
  .tablediv {
    width: 70vw;
    margin: auto;
    /* border: 1px solid red; */
    /* margin: 20px 40px; */
  }
}

.tablediv {
  width: 80vw;
  margin: auto;
  /* border: 1px solid red; */
  /* margin: 20px 40px; */
}

table {
  border: 1px solid transparent;
  border-collapse: collapse;
  width: 80vw;
}

.thead{
  font-size: 20px;
}
td{
  border: 1px solid transparent;
  border-bottom:rgba(36, 148, 148, 0.54); ;
    text-align: center;
    padding: 8px;
}
th {
  border: 1px solid transparent;
border-bottom: 3px solid  rgba(36, 148, 148, 0.54); 
  text-align: center;
  padding: 8px;
}

.updatebutton {
  margin: 10px;
  padding: 10px;
  background-color: none;
  outline: none;
  border: none;
}



.butmargin{
  margin: 5px;
}

/* .indexrow{
  border-right: 3px solid  rgba(36, 148, 148, 0.54);
} */