*{
    font-family: Kaisei Decol;
}
.top_nav{
    position: sticky;
    height: 50px;
    width: 100%;
    background-color: rgba(36, 148, 148);
}
.form_head{
    font-size: 33px;
    font-weight: 50;
}
.customer_form{
    width: 40vw;
    height:auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 50px auto;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(36, 148, 148, 0.54);
}

.customer_input{
    font-size: 20px;
    padding: 5px 20px;
    /* text-align: center; */
    margin: 20px;
    height: 5vh;
    width: 30vw;
    border-radius: 5px;
}

.customer_btn{
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 30px;
    margin: 20px 0 40px 0;
    background: black;
    color: white;
}
.backmain{
    margin-top: 60px;
}

.backimg{
    height: 30px;
}
@media screen and (max-width:800px )  {
    .customer_form{
        width: 90vw;
        height:auto;
        border-radius: 10px;
        border: 1px solid black;
        margin: 70px auto;
        text-align: center;
        background-color: rgba(36, 148, 148, 0.54);
    }
    .customer_input{
        font-size: 20px;
        text-align: center;
        margin: 15px;
        height: 5vh;
        width: 50vw;
        border-radius: 5px;
    }
}