* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:950px) {
    .fabric_main1 {
        width: 80vw !important;
        margin: 20px !important;
    }

    .choose_photo {
        width: 50vw !important;
    }

    .fabric_main1-txt {
        margin-top: 20px;
    }

    .crossbtn {
        position:absolute;
        margin-top: 15px !important;
        margin-left: 0vw !important;
        margin-bottom: -60px;
        height: 30px;
        font-size: 28px;
        background: rgb(235, 5, 5);
        background: linear-gradient(180deg, rgb(240, 30, 30) 0%, rgb(214, 113, 113) 10%, rgb(245, 45, 45) 100%);
        color: white;
        width: auto;
        padding: 0 10px;
        border: none;
        border-radius: 8px;
        line-height: 25px;
        font-weight: 600;
    }
}

.uploadimgheight {
    margin: 0;
    height: 250px;
    width: 300px;
}

.Selfab_main {
    /* border: 1px solid red; */
    width: 90vw;
    margin: auto;
    min-height: 50vh;
    align-content: center;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.fabric_main1 {
    background-color: rgba(0, 0, 0, 0.49);
    padding: 40px;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 1px 16px 1px grey;
    /* border: 1px solid rgb(98, 91, 91); */
    border-radius: 15px;
    margin: 30px;
    min-height: 253px;
    width: 25vw;
}

.choose_photo {
    background-color: black;
    color: white;
    width: 13vw;
    padding: 4px;
    border-radius: 10px;
}

.fabric_main1-txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: white;
    margin-top: 20px;
}



/* .modal_wrapper {
    position: fixed;
    margin-top: -150px;
    background-color: red;

} */

.container {
    margin: 5rem;
}



.main_fab_form {
    width: 100vw;

    /* align-items: center; */
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    left: 0;


}

.crossbtn {
    position:absolute;
    margin-top: 35px;
    margin-left: 70vw;
    margin-bottom: -60px;
    height: 30px;
    font-size: 28px;
    background: rgb(235, 5, 5);
    background: linear-gradient(180deg, rgb(240, 30, 30) 0%, rgb(214, 113, 113) 10%, rgb(245, 45, 45) 100%);
    color: white;
    width: auto;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
    line-height: 25px;
    font-weight: 600;
}