@media screen and (max-width:950px) {
    .invoiceInfo-box{
        width: 90vw !important;
        height: auto !important;
        padding-bottom: 30px;
    }
    .invoiceInfo-box-info{
        width: 80vw !important;
    }
    .invoiceInfo-box-name-para{
        width: 80vw !important;
    }
    .invoiceInfo-box-color-para{
        width: 80vw !important;
    }
    .invoiceInfo-box-color-para-info{
        width: 80vw !important;
    }

    .invoiceInfo-box-color-para2{
        width: 80vw !important;
    }
    .invoiceInfo-box-color-para-info2{
        width: 80vw !important;
        margin: 25px 0 !important;
        
    }
    .invoiceInfo-box-color-para-p2{
        margin-right: 20px !important;
    }
    .invoiceInfo-btn{
        margin: 0 10px;
    }
}


.invoiceInfo{
    background-color: rgb(204, 201, 201);
    width: 100vw;
    height: auto;
    align-content: center;
} 

.invoiceInfo-box {
    height: auto;
    width: 50vw;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 20px auto;
    background-color: white;
    padding-bottom: 30px;
}

.invoiceInfo-box-logo-img {
    height: 80px;
    width: 130px;
    margin:  auto;
    margin-top: 50px !important;
    /* border: 2px solid black; */
    display: block;
}

.invoiceInfo-box-p{
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: serif;
    
}

.invoiceInfo-box-info{
    /* border: 2px solid red; */
    margin: auto;
    width: 45vw;
    height: 55vh;
}

.invoiceInfo-box-name-para{
    /* border: 2px solid black; */
    margin: auto;
    width: 45vw;
    height: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 10px;
    
}

.invoiceInfo-box-name{
    display: block;
    color: black;
    /* text-align: center; */
    font-size: 22px;
    font-family: serif;
    /* line-height: 24px; */
    font-weight: 400;
    font-family: serif;

}

.invoiceInfo-box-name-2{
    /* border: 2px solid black; */
    text-align: start;
    font-size: 22px;
    font-family: serif;
    line-height: 24px;
    margin: 0;
    font-family: serif;

}

.invoiceInfo-box-color-para{
    background-color: rgba(36, 148, 148, 0.54);

    display: flex;
    justify-content: space-around; 
    /* border: 2px solid orange; */
    margin:25px auto;
    width: 42vw;
    height: 35px;
    align-items: center;
    box-shadow: 0 2px 5px gray;
}

.invoiceInfo-box-color-para-p{
    display: block;
    color: black;
    line-height: 20px;
    font-family: serif;
    font-size: 18px;
    margin: 0;

    
}

.invoiceInfo-box-color-para-info{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    margin:15px auto;
    width: 42vw;
    height: auto;
    align-items: center;
}

.invoiceInfo-box-color-para-h{
    font-weight: 400;
    font-size: 20px;
}

.invoiceInfo-box-color-para2{
    
    background-color: rgba(36, 148, 148, 0.54);
    display: flex;
    justify-content: end;
    /* border: 2px solid orange; */
    margin:15px auto;
    width: 42vw;
    height: 35px;
    align-items: center;
    box-shadow: 0 2px 5px gray;
}

.invoiceInfo-box-color-para-p2{
    display: block;
    color: black;
    line-height: 30px;
    font-family: serif;
    font-size: 18px;
    margin-right: 50px !important;
    /* border: 2px solid black; */
    margin: 0;
}


.invoiceInfo-box-color-para-info2{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    margin:25px auto;
    /* margin-top: -40px; */
    width: 26vw;
    height: auto;
    align-items: center;
    /* margin-bottom: 30px; */
    
}

.invoiceInfo-btn{
    background: rgb(5, 5, 5);
    background: linear-gradient(180deg, rgba(5, 5, 5, 1) 0%, rgb(112, 113, 113) 10%, rgba(5, 5, 5, 1) 100%);
    color: white;
    font-size: 20px;
    line-height: 40px;
    border: none;
    font-weight: 700;
    width: auto;
    padding: 0 20px;
    border-radius: 10px;
}