.category_img{
    text-decoration: none;
    border-radius: 10px;
    height: 350px;
    width: 320px;
    border: 1px solid rgb(75, 68, 68);
    box-shadow: 2px 3px 11px 1px #b6b1b1;
    
}

.category_head{
    color: black;
    text-align: center;
}
.category_main{
    /* border: 3px solid blue ; */
    width: 350px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0 0 0  ;
    transition: 1s;
}

.category_main:hover{
    transform: scale(0.9);
   
}

@media screen  and (max-width:800px){
    .category_img{
        border-radius: 10px;
        height: 35vh;
        width: 70vw;
        border: 2px solid black;
    }
    .category_main{
        /* border: 3px solid blue ; */
        width: 70vw;
        display: inline-block;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 9px  ;
       
    }
    .category_head{
        color: black;
        text-align: center;
    }
}