.gallery {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Gfont {
    /* font-family: 'Great Vibes', cursive; */
    font-family: Kaisei Decol;
    /* font-size: 25px; */
}

.Gfont:hover {
    /* border: 0px 0px 2px 0px solid blue; */
    border-bottom: 3px solid rgba(36, 148, 148, 0.54);
    cursor: pointer;
}

.Glist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid grey; */
    width:80vw;
    height: auto;
    margin: 20px auto;


}

.Glist_li {
    font-family: Kaisei Decol;
    font-size: 25px;
    text-decoration: none;
    color: rgb(35, 35, 35);
    margin: 20px;
}

.Glist_li:hover {
    border-bottom: 3px solid rgba(36, 148, 148, 0.54);

}

.Ready_main{
    width: 90%;
    padding: 20px;
    margin: auto;
    height: auto;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hr{
    border:2px solid rgb(10, 76, 76) ;
     width:90vw;
      margin:10px auto
}